<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1><%=title%></h1>
    <h2><%=keyboardbrand.name%></h2>
    <h2><%=keyboardbrand.id%></h2>

    <% keyboardbrands_keyboards.forEach(function(product){  %>
        
        <h3><%= product.name %></h3>
        <li>Brand: <%= product.brand.name %></li>
        <li>Price: <%= product.price %></li>        
        <li>Category: <%= product.category[0].name%></li>
        <li>Description: <%= product.description%></li>
      
<%})%>
    <form action="" method="POST">
        <input type="hidden" name="keyboardbrandid" value="<%=keyboardbrand.id%>">
        <button type="submit">Delete Brand</button>
    </form>
</body>
</html>
